    body {
      font-family: Arial, sans-serif;
      text-align: center;
    }

    h1 {
      color: #333;
      transition-property: background-color;
      transition-duration: 3s;
      transform: skewX(30deg);
      transform: skewY(10deg);
    }

    h1:hover {
      background-color: yellow;
    }

    #game-status {
      margin-bottom: 20px;
    }

    #word-display {
      font-size: 24px;
      margin-bottom: 20px;
    }

    label {
      font-weight: bold;
      margin-right: 10px;
    }

    #guess-input {
      margin-right: 10px;
      padding: 5px;
      font-size: 16px;
    }

    #guess-button {
      padding: 5px 10px;
      font-size: 16px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    #guess-button:hover {
      background-color: #45a049;
    }

    #restart-button {
      padding: 5px 10px;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    #restart-button:hover {
      background-color: #45a049;
    }

    #hangman-svg {
      margin-top: 10px;
      margin-left: 100px;
    }

    /* Media-queries */
    @media (max-width: 600px) {
      h1 {
        font-size: 300%;
        margin-bottom: 1px;
        color: #333;
        transition-property: background-color;
        transition-duration: 3s;
      }

      h1:hover {
        background-color: red;
      }

      #word-display {
        font-size: 200%;
      }

      label {
        font-size: 200%;
      }

      #guess-input {
        width: 30px;
        height: 15px;
        margin: 5px;
        padding: 10px;
        font-size: 30px;
      }

      #guess-button {
        padding: 8px 130px;
        font-size: 30px;
      }

      #restart-button {
        padding: 8px 120px;
        font-size: 30px;
      }

      #game-status {
        font-size: 150%;
        margin-bottom: 1px;
        padding-bottom: 1px;
      }

      #hangman-svg {
        margin-top: 1px;
        margin-left: 100px;
        transform: scale(0.8);
      }

    }
